<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ejemploDC4 -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="ejemploDC4.presentation.EjemploDC4ModelWizardID"
            name="%_UI_EjemploDC4ModelWizard_label"
            class="ejemploDC4.presentation.EjemploDC4ModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/EjemploDC4ModelFile.gif">
         <description>%_UI_EjemploDC4ModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ejemploDC4 -->
      <editor
            id="ejemploDC4.presentation.EjemploDC4EditorID"
            name="%_UI_EjemploDC4Editor_label"
            icon="icons/full/obj16/EjemploDC4ModelFile.gif"
            extensions="ejemplodc4"
            class="ejemploDC4.presentation.EjemploDC4Editor"
            contributorClass="ejemploDC4.presentation.EjemploDC4ActionBarContributor">
      </editor>
   </extension>

</plugin>
